@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

$maxWidth: 1440;
$maxWidthContainer: 1440;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //Только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1025px) / #{$maxWidthContainer - 1025}));
        }
    } @else if $type==2 {
        //Только если больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1025px) / #{$maxWidth - 1025}));
        }
    } @else {
        //Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1025px) / #{$maxWidth - 1025}));
    }
}

$maxWidth1: 1025;
$maxWidthContainer1: 1025;

@mixin adaptiv-phone-value($property1, $startSize1, $minSize1, $type1) {
    $addSize1: $startSize1 - $minSize1;
    @if $type1==1 {
        //Только если меньше контейнера
        #{$property1}: $startSize1 + px;
        @media (max-width: #{$maxWidthContainer1 + px}) {
            #{$property1}: calc(#{$minSize1 + px} + #{$addSize1} * ((100vw - 375px) / #{$maxWidthContainer1 - 375}));
        }
    } @else if $type1==2 {
        //Только если больше контейнера
        #{$property1}: $startSize1 + px;
        @media (min-width: #{$maxWidthContainer1 + px}) {
            #{$property1}: calc(#{$minSize1 + px} + #{$addSize1} * ((100vw - 375px) / #{$maxWidth1 - 375}));
        }
    } @else {
        //Всегда
        #{$property1}: calc(#{$minSize1 + px} + #{$addSize1} * ((100vw - 375px) / #{$maxWidth1 - 375}));
    }
}